body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  h1 {
    margin: 0;
  }
  
  main-section {
    text-align: center;
    padding: 2em;
  }
  
  cta-button {
    display: inline-block;
    padding: 1em 2em;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  
  /* Recipe search page2 */
  @keyframes slideinRight {
    0% {
      transform: translateY(-700px);
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes slideinLeft {
    0% {
      transform: translateY(-1200px);
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
  
  .search-background-Js {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to 100% of the viewport height */
    
    z-index: 0;
  }
  
  .img-container {
    text-align: center;
  }
  
  .img-Right {
    animation: slideinRight 2s ease-in-out;
    animation-delay: 1s; /* Delay for the img-Right */
  }
  
  .img-Left {
    animation: slideinLeft 3s ease-in-out;
    animation-delay: 1s; /* Adjusted delay for the img-Left */
  }
  
  /* Section for the form */
  .form-container-Js {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set height to 100% of the viewport height */
    position: absolute; /* Adjusted position to absolute */
    top: 50%; /* Set top to 0 to center vertically */
    left: 50%; /* Set left to 0 to center horizontally */
    transform: translate(-50%, -50%);
    width: 100%; /* Set width to 100% to cover the entire viewport */
    z-index: 1; /* Set z-index to ensure the form is on top of the images */
  }
  
  #form-section {
    
    /* background-color: #61767a; */
    padding: 20px;
    margin: 15px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-fields {
    justify-content: center;
    
    padding: 10px;
    width: 100%;
  
  }
  
  /* Recipe cards section */
  
  /* Footer Section */
  footer {
    background-color: /*rgb(51,51,51)*/ white;
    color: /* white */ black;
    text-align: center;
    /* padding: 1em 0; */
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}