body {
    font-family: 'Helvetica Neue','Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar {
    
}

.brandName {
    
}

.nav-link { 
    color: black;   
}

.nav-item {
    padding: 10px;
}

.nav-item a:hover {
    /* color: #b01307; */
    /* color: rgb(33, 33, 222); */
    color: rgb(115, 173, 17);

}


.brandName {
font-size: 1.2em;
}



footer {
    background-color: /*rgb(51,51,51)*/ white;
    color: /* white */ black;
    text-align: center;
    bottom: 0;
    width: 100%;
}
