body {
    font-family: 'Helvetica Neue','Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.navbar a {
    color: black;
    text-decoration: none;
    
}

.nav-link { 
    color: black;   
}

.nav-item {
    padding: 10px;
}

.nav-item a:hover {
    /* color: #b01307;*/
    color: rgb(115, 173, 17);

}

#brandName {
font-size: 1.2em;
}

/* Main content */

.mainContent {
    margin-top: 80px;
    margin-bottom: 10px;
}

.mainText {
    margin-top: 10px;;
}

.mainText .explore{
    margin-bottom: 15px;
}

.color {
    color: rgb(115, 173, 17);
        /* color: #b01307; */

}
.mainContent img {
    border-radius: 3px;

}

/* Footer */

.footer {
    background: black;
    color: white;
    padding: 50px;
}

.footer-menu {
    margin: 0 auto 25px;
    display: flex;
    align-items: start;
    
}

.footer-menu .title {
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-menu ul li {
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
    
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    
}

.contactUs ul li{
    align-items: center;
}

.contactUs ul li a{
    margin-left: 5px;
    
}

.footer-menu ul li a:hover {
    color: rgb(115, 173, 17);
}

.subscribe input {
    margin-top: 7px;
    
}

.subscribe .btn {
    margin-top: 12px;
    
}

footer .social-media {
    text-align: center;
}

footer .social-media ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer .social-media ul a {
    display: block;
    margin: 0 10px;
    color: white;
    font-size: 24px;

}

.copyright {
    background-color: /*rgb(51,51,51)*/ white;
    color: /* white */ black;
    text-align: center;
    bottom: 0;
    width: 100%;
}


/* Saved recipce section */

.meal-card {
    width: 18rem;
    margin-bottom: 20px;
}
.meal-card img {
    height: 200px;
    object-fit: cover;
}

/* meal show */
.img-fluid{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
.pop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}