/* Common styling for both meal cards and video cards */
.card {
    height: 400px; /* Set a fixed height for the card */
    margin-bottom: 20px;
}

.card .card-img-top {
    height: 200px; /* Adjust the height of the image within the card */
    object-fit: cover;
}

.card .card-body {
    height: 200px; /* Adjust the height of the card body */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.card .card-title {
    font-size: 1.2rem;
    color: #333;
}

.card .btn-primary {
    background-color: black;
    border: none;
}

/* Custom styling for video cards */
.video-card .card:hover {
    transform: translateY(-5px);
}

.video-card .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.video-card .card-title {
    font-size: 1.2rem;
    color: #333;
}

.video-card .btn-primary {
    background-color: black;
    border: none;
}

/* Flex container for main content */
.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
